.booking-conta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    margin-top: 150px;
}

.common {
    border: 1px solid gray;
    width: 35%;
    border-radius: 15px;
}

.ground-info {
    width: 100px;
    margin-top: 0px;
    text-align: left;
}

.ground-card {
    display: flex;
    gap: 100px;
    width: 100%;
    padding: 30px;
    text-align: center;

}

.ground-image {
    width: 55%;
    height: 200px;
    border-radius: 8px;
}


.ground-info h3 {
    margin: 10px 0;
    font-size: 20px;
    text-transform: uppercase;
}

.ground-info p {
    font-size: 1em;
    margin: 5px 0;
    margin-bottom: 80px;
}

.ground-info a {
    color: #007bff;
    text-decoration: none;
    font-size: 1em;
}

.ground-info a:hover {
    text-decoration: underline;
}




.book-now-button {
    display: block;
    background-color: #b6babd54;
    border: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #000000;
    cursor: pointer;
    font-family: cursive;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    letter-spacing: 1px;
    padding: 10px;
    text-transform: uppercase;
    transition: background-color .9s;

}

.book-now-button:hover {
    background-color: #35d66d; 
    color: #2e2c2b; 
}


@media (max-width: 768px) {
    .common {
        width: 100%;
        border-radius: 15px;
    }

    .booking-conta {
        width: 100%;
        height: auto;
    }

    .book-now-button {
        font-size: 14px;
        font-weight: bold;
        width: 100%;
        margin-top: 15px;
    }

    .ground-card {
       padding: 0px;
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }

    .ground-info {
        margin-left: 38%;
        font-size: 13px;
        text-align: center;
    }



    .ground-info h3 {
        margin: 10px;
        margin-left: 0px;
    }

    .ground-info p {
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .ground-image {
        width: 100%;
        height: 220px;
        border-radius: 8px;

    }

}